*{
    background-color: #1A1D1E;
    margin: 0;
    padding: 0;
}

.container{
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: #1A1D1E;
}

.bgtellercin{
    filter: drop-shadow(1px .5px 2px #00FF97);
    fill: #00FF97;
}

#tellercin{
    
    animation: tail 15s infinite;
}

.white-d6b7820{
    fill: #1A1D1E;
}

.transpa{
    fill: none;
}
.rotateLogo{
    transform: rotate(45deg);

}


#star1{
    transform: translateY(-100px);
    animation: star1 15s infinite;
}
#star2{
    transform: translateY(-100px);
    animation: star4 15s infinite;
}
#star3{
    transform: translateY(-100px);
    animation: star3 15s infinite;
}
#star4{
    transform: translateY(-100px);
    animation: star2 15s infinite;
}

@keyframes star3 {
    8%, 15%,23%,31%,39%,47%,55%,63%,71%,79%,87%{transform: translateY(100px);}
    8.0001%, 15.0001%,23.0001%,31.0001%,39.0001%,47.0001%,55.0001%,63.0001%,71.0001%,79.0001%,87.0001%{transform: translateY(-100px);}
    13%, 18%,26%,34%,42%,50%,58%,66%,74%,82%,90%{transform: translateY(-100px);}
}
@keyframes star4 {
    7%, 15%,20%,28%,44%,52%,60%,68%,76%,84%{transform: translateY(100px);}
    7.0001%,15.0001%,20.0001%,28.0001%,44.0001%,52.0001%,60.0001%,68.0001%,76.0001%,84.0001%{transform: translateY(-100px);}
    11%, 16%,24%,32%,47%,56%,61%,72%,79%,90%{transform: translateY(-100px);}
}
@keyframes star2 {
    6%, 16%,24%,32%,40%,48%,56%,64%,72%,80%,87%{transform: translateY(100px);}
    6.0001%, 16.0001%,24.0001%,32.0001%,40.0001%,48.0001%,56.0001%,64.0001%,72.0001%,80.0001%,87.0001%{transform: translateY(-100px);}
    10%, 17%,27%,35%,43%,51%,59%,67%,75%,83%,90%{transform: translateY(-100px);}
}
@keyframes star1 {
    5%, 12%,17%,25%,32%,41%,49%,58%,65%,73%,82%,89%{transform: translateY(100px);}
    5.0001%, 12.0001%,17.0001%,25.0001%,32.0001%,41.0001%,49.0001%,58.0001%,65.0001%,73.0001%,82.0001%,89.0001%{transform: translateY(-100px);}
    9%, 14%,20%,28%,36%,44%,52%,60%,68%,76%,84%,90%{transform: translateY(-100px);}
}

@keyframes tail {
    0%{transform: scaleX(1) translateY(200px)}
    7%{transform: scaleX(1) translateY(200px)}
    14%, 33%, 55%, 72%, 85%{transform: scaleX(.8)translateX(5px)}
    24%, 40%, 60%, 76%, 90%{transform: scaleX(1)translateX(0)}
    100% {transform: scaleX(1) translateY(-300px)}
}
